/node_modules/sonar-project.properties/package-lock.json/package.json/.scannerwork/build/coverage/Imagens/sons.idea/workspace.xml.idea/inspectionProfiles/Project_Default.xmlbabel.config.js.eslintrc.js/jest.config.js.cancel/eslint.config.mjs.idea/material_theme_project_new.xml/.idea.idea/codeStyles/Project.xml