/node_modules/sonar-project.properties/package-lock.json/package.json/.scannerwork/build/coverage/Imagens/sons.idea/workspace.xml.idea/inspectionProfiles/Project_Default.xml.babelrc.eslintrc.js/jest.config.js/eslint.config.mjs